<h2>New State</h2>
<form>
    <p>Abbreviation:<br/> {{input value=abbreviation}}</p>
    <p>State:<br/> {{input value=state}}</p>
    <p>Description:<br/> {{input value=description}}</p>
    <p><button {{action "createState"}}>Create</button></p>
</form>