<h2>Edit State</h2>
<form>
    <p>Abbreviation:<br/> {{input value=abbreviation}}</p>
    <p>State:<br/> {{input value=state}}</p>
    <p>Description:<br/> {{input value=description}}</p>
    <p><button {{action "updateState"}}>Update</button></p>
</form>