
<p>State : {{state}}</p>
<p>Abbreviation : {{abbreviation}}</p>
<p>Description : {{description}}</p>
{{outlet}}
<p>{{#link-to 'state.edit' }}Edit State{{/link-to}} |  {{#link-to 'states'}}All States{{/link-to}}</p>

